<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" href="{{ asset(affiliation.cssPath ~ '/css/reset.css') }}" type="text/css" media="screen,projection">
        <link rel="stylesheet" href="{{ asset(affiliation.cssPath ~ '/css/estilos.css') }}" type="text/css" media="screen,projection">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
