{% for webcam in smallThumbnailWebcams|slice(0,5) %}
    <div class="chica">
        <a class="link" href="https://webcams.cumlouder.com/join/{{ webcam.url }}/?nats={{ affiliation.nats }}" title="">
            <span class="thumb"><img src="https://w0.imgcm.com/modelos/{{ webcam.smallThumbnail }}" width="175" height="150" alt="" title="" /></span>
            <span class="nombre-chica"> <span class="ico-online"></span>{{webcam.name}}</span>
            <span id="favorito" class="ico-favorito" ></span>
        </a>
    </div>
{% endfor %}

<div class="chica chica-grande {{ block % 2 == 0 ? 'grande-derecha' : '' }}">
    <a class="link" href="https://webcams.cumlouder.com/join/{{ bigThumbnailwebcam.url }}/?nats={{ affiliation.nats }}" title="">
        <span class="thumb"><img src="https://w0.imgcm.com/modelos/{{ bigThumbnailwebcam.bigThumbnail }}" width="357" height="307" alt="" title="" /></span>
        <span class="nombre-chica"> <span class="ico-online"></span>{{bigThumbnailwebcam.name}}</span>
        <span id="favorito" class="ico-favorito" ></span>
    </a>
</div>

{% for webcam in smallThumbnailWebcams|slice(5,6) %}
    <div class="chica">
        <a class="link" href="https://webcams.cumlouder.com/join/{{ webcam.url }}/?nats={{ affiliation.nats }}" title="">
            <span class="thumb"><img src="https://w0.imgcm.com/modelos/{{ webcam.smallThumbnail }}" width="175" height="150" alt="" title="" /></span>
            <span class="nombre-chica"> <span class="ico-online"></span>{{webcam.name}}</span>
            <span id="favorito" class="ico-favorito" ></span>
        </a>
    </div>
{% endfor %}