{% extends 'base.html.twig' %}
{% set bigThumbnailWebcams = affiliation.webcams|slice(0,5) %}
{% set smallThumbnailWebcams = affiliation.webcams|slice(1,60) %}
{% block body %}
<body>
<div class="box-header">
    <div class="header">
        <h1 class="logo-sitio"><a href="#" title="Babosas.biz">{{ affiliation.name }}</a></h1>
        <div class="tit-webcams">Webcams</div>

        <div class="logo-cum"><a href="#" title="Cumlouder.com">Cumlouder.com</a></div>

        <div class="menu">
            <a href="#" title="Acceso a las Chicas en Directo">Acceso a las Chicas en Directo</a> <span>|</span>
            <a href="#" title="Acceso Miembros">Acceso Miembros</a> <span>|</span>
            <a href="#" title="Compra Créditos">Compra Créditos</a>
        </div>

        <div class="clear"></div>
    </div>
</div>
<!-- termina HEADER -->

<div class="listado-chicas">
    {% for bigThumbnailwebcam in bigThumbnailWebcams %}
        {% set block = (loop.index - 1 )* 12 %}

        {{ include('affiliates/twelve-webcams-block.twig', {
                bigThumbnailwebcam:bigThumbnailwebcam,
                smallThumbnailWebcams:smallThumbnailWebcams|slice(block,12),
                block: loop.index
            })
        }}
    {% endfor %}

    <div class="clear"></div>

    <a class="btn-mas-modelos" href="{{ url('webcams', {affiliateId: affiliation.nats, page: currentPage + 1}) }}" title="Mostrar más modelos">Siguiente Página</a>

</div>
<!-- termina LISTADO DE CHICAS -->

<div class="box-footer">
    <div class="menu">
        <a href="#" title="Acceso a las Chicas en Directo">Acceso a las Chicas en Directo</a> <span>|</span>
        <a href="#" title="Acceso Miembros">Acceso Miembros</a> <span>|</span>
        <a href="#" title="Compra Créditos">Compra Créditos</a>
    </div>
</div>
<!-- termina MENU FOOTER -->

<div class="box-copy">
    <div class="menu">
        <p>Copyright © WAMCash Spain Todos los derechos reservados <span>|</span> <a href="#" title="Webmasters">Webmasters</a> </p>
        <p>Contenido para adultos <span>|</span> Tienes que tener mas de 18 años para poder visitarlo. Todas las modelos de esta web son mayores de edad.</p>
    </div>
</div>
<!-- termina COPY -->

<div class="box-data">
    <div class="menu">
        <a href="#" title="Soporte Epoch">Soporte Epoch</a> <span>|</span>
        <a href="#" title="18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</a> <span>|</span>
        <a href="#" title="Contacto">Contacto</a> <span>|</span>
        <a href="#" title="Please visit Epoch.com, our authorized sales agent">Please visit Epoch.com, our authorized sales agent</a>
    </div>
</div>
<!-- termina DATA -->

</body>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ asset('js/simplemodal/jquery.simplemodal.js') }}"></script>
    <script>
        $('.chica a').click(function(e){
            e.preventDefault();
            let src = $(this).attr("href");
            $.modal('<iframe src="' + src + '" height="680" width="980" style="border:0">', {
                overlayClose:true
            });

        });
    </script>
{% endblock %}